/* importing google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #3c87ff;
    overflow: hidden;
}
.wrapper{
    max-width: 405px;
    margin: 135px auto;
    background-color: #fff;
    border-radius: 7px;
    padding: 28px 0;
}
.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.task-input .icon{
    position: absolute;
    top: 50%;
    transform: translate(17px, -52%);
    color: #bfbfbf;
    font-size: 22px;
}
.task-input input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0 20px 0 50px;
}
.task-input input::placeholder{
    color: #bfbfbf;
}
.controls, li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

.filters span{
    cursor: pointer;
    margin: 0 8px;
    font-size: 17px;
}
.filters span.active{
    color: #3c87ff;
}
.filters span:first-child{
    margin-left: 0;
}
.controls .clear-btn{
    outline: none;
    border: none;
    background: #3c87ff;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
}
.task-box{
    margin: 20px 25px;
}
.task-box .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}
.task-box .task:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.task label{
    display: flex;
    align-items: center;
}
.task label p.checked{
    text-decoration: line-through;
}
.task label input{
    margin: 6px 12px 0 0;
}
.task .settings{
    cursor: pointer;
    position: relative;
}
.settings .task-menu{
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 0;
    right: -5px;
    bottom: -65px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    z-index: 2;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}
.settings .task-menu.show{
    transform: scale(1);
}
.task-menu li{
    height: 25px;
    font-size: 16px;
    padding: 15px 13px;
    margin-bottom: 5px;
    justify-content: flex-start;
}
.task-menu li:last-child{
    margin-bottom: 0;
}
.task-menu li:hover{
    background: #f5f5f5;
}
.task-menu li i{
    padding: 0 8px 0 0;
}

@media (max-width: 450px){
    .wrapper{
        margin: 100px auto;
        width: 90%;
    }
}

@media (max-width: 390px){
    .controls{
        flex-direction: column;
        gap: 10px;
        margin-top: -15px;
    }
    .task-box .task{
        font-size: 15px;
    }
    .task-input .icon{
        position: absolute;
        top: 50%;
        transform: translate(15px, -70%);
        color: #bfbfbf;
        font-size: 18px;
    }
    .task-input input{
        height: 80%;
        font-size: 15px;
        padding: 0 20px 0 50px;
    }
    .filters{
        display: flex;
        justify-content: space-between;
    }
    .filters span{
        font-size: 15px;
    }
    button, .filters{
        width: 100%;
    }

}